body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: #111827;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 100px 20px;
}

.btn {
    background: cyan;
    color: black;
    padding: 12px 25px;
    border-radius: 10px;
    text-decoration: none;
}

section {
    padding: 60px;
}

.skills {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.skills span {
    background: #1e293b;
    padding: 10px 20px;
    border-radius: 10px;
}

.project-card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
